.bloc {
	background-color: #FDFDFD !important;
	text-align: center !important;
	margin: 70px !important;
	padding : 30px !important;
	border: solid 5px #A2A2A2 !important;
	box-shadow : 3px 3px 5px #C5C5C5 !important;
	position: relative;
}

.cadre-circle {
	width: 100px;
	height:100px;
	background-color: #DA344D;
	border-radius: 50%;
	position: absolute;
	top : 15px;
	right: 15px;
}

.card {
	height: 200px;
	background-image: url("https://images.pexels.com/photos/8382/pexels-photo.jpg?w=940&h=650&auto=compress&cs=tinysrgb");
	background-size: cover;
}

.avatar-card {
	border-radius: 50%;
	width:40px;
	height: 40px;
	position:absolute;
	bottom :15px;
	left : 15px;
}